{% extends '../base.html' %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container">
  <h1 class="text-center">Login</h1>
</div>
<div class="container text-center form-outline">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
      <h5>{{ form.username.label_tag }}</h5>
      {{ form.username }}
      <h5>{{ form.password.label_tag }}</h5>
      {{ form.password }}
    <div class="container">
      <input class="btn btn-success btn-rounded" type="submit" value="Login">
    </div>
    </form>
</div>

{% endblock %}
